div.id { color: red !important; }
#color_yellow { color: yellow; }
.color_green { color: green; }
div { color: blue; }
* { color: darkblue; }
body { color: violet; }

div#hello {
    color: green;
}
.hello {
    color: red;
}