.line {
    width : 1000px;
    height: 10px;
    background-color: black;
}
/***********************/
.container {
    width: 300px;
    background-color: royalblue;
}
.container .item {
    border: 4px dashed red;
    background-color: orange;
}
.container .item:nth-child(1) {
    width: 100px;
    height: 100px;
}
.container .item:nth-child(2) {
    width: 140px;
    height: 70px;
}
.container .item:nth-child(3) {
    width: 70px;
    height: 120px;
}

/***********************/
.containerAbsolute1 {
    width: 300px;
    background-color: royalblue;
    /*position: relative;*/
}
.containerAbsolute1 .item {
    border: 4px dashed red;
    background-color: orange;
}
.containerAbsolute1 .item:nth-child(1) {
    width: 100px;
    height: 100px;
}
.containerAbsolute1 .item:nth-child(2) {
    width: 140px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    right: 60px;
}
.containerAbsolute1 .item:nth-child(3) {
    width: 70px;
    height: 120px;
}

/***********************/

.wrapAbsolute2 {
    width: 400px;
    height: 300px;
    background-color: tomato;
    position: relative;
}
.containerAbsolute2 {
    width: 300px;
    background-color: royalblue;
}
.containerAbsolute2 .item {
    border: 4px dashed red;
    background-color: orange;
}
.containerAbsolute2 .item:nth-child(1) {
    width: 100px;
    height: 100px;
}
.containerAbsolute2 .item:nth-child(2) {
    width: 140px;
    height: 70px;
    position: absolute;
    bottom: 30px;
    right: 60px;
}
.containerAbsolute2 .item:nth-child(3) {
    width: 70px;
    height: 120px;
}

/***********************/

body {
    height: 3000px;
}
.wrapFixed {
    width: 400px;
    height: 300px;
    background-color: tomato;
    position: relative;
}
.containerFixed {
    width: 300px;
    background-color: royalblue;
    position: relative;
}
.containerFixed .item {
    border: 4px dashed red;
    background-color: orange;
}
.containerFixed .item:nth-child(1) {
    width: 100px;
    height: 100px;
}
.containerFixed .item:nth-child(2) {
    width: 140px;
    height: 70px;
    position: fixed;
    bottom: 30px;
    right: 60px;
}
.containerFixed .item:nth-child(3) {
    width: 70px;
    height: 120px;
}

/***********************/
.container {
    width: 300px;
    background-color: royalblue;
    position: relative;
}
.container .zindex {
    border: 4px dashed red;
    background-color: orange;
}
.container .zindex:nth-child(1) {
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;
}
.container .zindex:nth-child(2) {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 30px;
}
.container .zindex:nth-child(3) {
    width: 100px;
    height: 100px;
    z-index: 99999;
}