.box {
    width: 200px;
    height: 100px;
    background-color: orange;
}

.box::before{
    content: "앞!";
}

.box::after{
    content: "뒤!";
    width: 30px;
    height: 30px;
    display: block;
    background-color: royalblue;
}