.parent {
    width: 100px;
    height: 100px;
    padding: 30px;
    background-color: royalblue;
}
.opacity1 {
    width: 200px;
    height: 100px;
    background-color: black;
    opacity: 0.08;
}

.opacity2 {
    width: 200px;
    height: 100px;
    background-color: red;
    opacity: .4;
}

.opacity3 {
    width: 200px;
    height: 100px;
    background-color: yellow;
    opacity: .7;
}

.opacity4 {
    width: 200px;
    height: 100px;
    background-color: orange;
    opacity: 1;
}

